* {
    padding: 0;
    margin: 0;
}

:root {
    --button-green: #596d48; 
    --background-gray: rgba(226, 213, 213, 0.2);
}

body {
    display: flex;
    height: 100vh;    
}

.logo-div {
    width: 33%;
    height: 100vh;    
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    position: relative;

    
}

.odin-div {
    background-color:rgba(37, 36, 36, 0.7);
    position: absolute;
    top: 12.3%;
    
    width: 100%;
    height: 18vh;
    /* background-image: url("images/odin-lined.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    font-weight: 600;
}

h1 {
    font-weight: 400;
    opacity: 0.8;
}

img {
    height: 150px;
    opacity: 0.8;
    
}

.form-div {
    width: 67%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    
}

.form-div div {
    padding-top: 1.5rem;
    padding-left: 6rem;
}

.form-header {
    background-color: var(--background-gray);
    height: 30vh;
    
    
    

}

.form-header p {
    font-size: 23px;    
    font-weight: 600;
    width: 60%;
   
}

.form-body {
    height: 40vh;
    

}

.form-footer {
    background-color: var(--background-gray);
    height: 30vh;

}

button {
    padding: .8rem 3rem;
    font-size: 18px;
    background-color: var(--button-green);
    box-shadow: none;
    border: none;
    color: white;
    border-radius: 6px;
    margin-bottom: 3rem;

    transition: .3s ease-in;
    border: 1px solid var(--button-green);
    

}

button:hover {
    
    border: 1px solid var(--button-green);
    color: var(--button-green);
    background-color: var(--background-gray);
    cursor: pointer;

    transform: scale(1.1);

    

}

p a {
    text-decoration: none;
    color: var(--button-green);
    font-size: 18px;
    font-weight: 700;

    transition: .3s ease-in;
}

p a:hover {
    transform: scale(1.1);

}

form {
    display: flex;
    
}

ul {
    margin-top: 2rem;
    margin-right: 5rem;
    
}

ul li {
    list-style: none;
    margin-bottom: 1.8rem;
}

input {
    padding: .3rem .5rem;
}

input:invalid {
    border: solid 1px red;
}

input:placeholder-shown {
    border: solid 1px black;
}

input:valid {
    border: solid 1px lightgreen;
}


